*
{
	padding: 0;
	margin: 0;
}
body
{
	background:url(IMAGES/sc.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.first
{
	width:100%;
	height: 200px;
	

}
h1
{
	font-family:cursive;
	font-size: 65px;
	padding-top: 120px;
	padding-left: 80px;
	color:black;
}
.ne
{
	
	
	padding-top: 10px;
	padding-left: 220px;
	
	
}
h2
{
	padding-bottom: 40px;
	padding-top: 30px;
	padding-left: 300px;
	
}
h2 a
{
	text-decoration: none;
	color: white;
	font-size: 30px;
}