body
{
	background:url(IMAGES/f1.jpg);
	background-position: top;
	background size:cover ;

}
.front
{
	font-family: cursive;
	font-size: 35px;
	color:black;

}
.mid
{
	
	height: 150px;
	width: 1000px;
	padding-left:10px;
	margin-top: 230px;
	margin-left: 150px;
	
}
label
{
	 color: white;
	 font-family:cursive;
	 font-size: 20px;
}
input
{
	height: 20px;
	width: 110px;
	height: 20px;

}
.submit1
{
	
	margin-left: 350px;
	padding-top: 40px;
}
input#submit
{
	background:#d3d6e0;
	height: 30px;
	width: 150px;

}
input#submit:hover
{
	background:lightblue;
}
.last
{
	font-size:15px;
	color: #d3d6e0;
	text-decoration: none;
	font: bold;
}
